.TodoTemplate {
  width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;
}

.TodoTemplate-title {
  background-color: lightskyblue;
  color: white;
  height: 50px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoTemplate-content {
  background: white;
}
